.containerCenter{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.bridgeContainer{
    width: 1000px;
    height:500px;
    display: flex;
    justify-content: center;
    border: 1px solid #dee2e6 ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bridgeContainer a {
    text-decoration: none;
}
.bridgeContainer .findUp .btn{
    margin-right: 7px;
}
.bridgeContainer .findDown .btn{
    margin-bottom: 7px;
}
