.table td, .table  th{
    min-width: 10rem;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
a{
    vertical-align: middle;
    text-decoration: none;
    color: black;
}
#infoWriteContainer{
    margin-top: 12px;
}
.pagination{
    margin: auto;
}
.pagination li {
    margin-left: 9px;
    font-size: 20px;

}

.pagination .active{
    color: red;
}