
.joinContainer{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #dee2e6 ;
    width: 1000px;
    height:500px;
    margin: 8px;
}
.btn .joinAtag{
    text-decoration: none;
    color: white;
}
.joinContainer .form-group{
    margin-top: 8px;
}
.joinContainer form{
    margin: 12px;
}