.myPageontainer{
    display: flex;
    justify-content: center;
}
#myPageontainer{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #dee2e6 ;
    margin-top: 8px;
    padding: 12px;
    width: 1000px;
    height:500px;
    align-items: center;
    justify-content: center;
}