
.updUserContainer{
    width: 1000px;
    height:500px;
    display: flex;
    justify-content: center;
    border: 1px solid #dee2e6 ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.updUserContainer .form-control{
    width: 400px;
}
.updUserContainer .btn{
    margin-top: 8px;
}