#mark {
    background-color: #333;
    padding: 14px 16px 0px 16px;
}

#markBox {
    display: flex;
}

#markImg {
    float: left;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 12px;
    margin-top: 4px
}

#loginName {
    float: left;
    align-items: center;
    justify-content: center;
}

/*클래스명이 active 인거 빼고(not) hover 시킴 not = 예외처리*/
#markBoxUl li a:hover:not(.active) {
    list-style-type: none;
    text-decoration: none;
    color: #d3d3d3;
}

#modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9;
}

.modal_content {
    background-color: white;
    border: 1px solid #95a5a6;
    padding: 20px;
    width: 400px;
    height: 300px;
}

.loginProperty {
    border: 1px solid #00a3df;
    margin-top: 5px;
    padding: 10px;
    width: 100%;

}

.loginBtn {
    margin-top: 5px;
    border: 1px solid #00a3df;
    width: 30%;
    height: 40px;
    background-color: white;
    display: block;


}

.X {
    float: right;
}

.or {
    color: #708090;
    font-size: 20px;
    text-align: center;
    width: 100%;
}


.swiper-container {
    position: absolute;
box-sizing: border-box;
    width: 1170px;
    height: 180px;
}
.swiper-slide{
    width: 100%;

}
.swiper-slide img {
   object-fit: contain;
    height: 150px;
}
.loginForm{
    margin-top: 8px;
}
.loginForm .btn-secondary{
    width: 358px;
    margin-top: 18px;
}