.centerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: grid;
    margin: 12px 0px 12px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 8px;
}

.todayBest, .weekendBest, .notice, .miniBoard {
    border: 1px solid #dee2e6;

}

ul {
    margin: 0;
    padding: 0;
}

ul .rankTable {
    border-bottom: 1px dashed #dee2e6;
    margin: 0px 13px 0px 13px;
}

ul .rankTable {
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.tableContent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    margin: 0 12px 0 12px;
}

.container div{
    margin: 8px;
}
.mainTitle{
    font-size: 16px;
grid-template-columns: 0.3fr 3fr 0.2fr;
}