.alContainer {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    width: 100%;
}

#searchWiki {
    display: flex;
}

#upContent {
    margin: 10px;
}

#downContent {
    margin: 30px 10px 20px 10px;

}

#ulContainer ul li {
    list-style-type: none;
    float: left;
    padding: 0px 5px 0px 0px;


}

#ulContainer ul {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid black;
    padding: 10px 0 0 0;
}
