.containerCenter {
    margin-bottom: 30px;
}

.boardContainer {
    box-sizing: border-box;
    width: 100%;
    margin: 12px 12px 0px 12px;
    min-height: 912px;
    height: 100%;
}

.boardContainer::after {
    content: "";
    clear: both;
    display: block;
}

/* list . css*/
.table {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;

}

.table th {
    text-align: center;
}

.table .bright {
    text-align: left;
}

.boardBtn {
    display: inline-block;
}

#boardClick:hover {
    background-color: #cacad0;
    cursor: pointer;
}


/* view . css */
.viewContainer {
    box-sizing: border-box;
    padding: 15px;
    font-size: 14px;
}

.title-row {
    box-sizing: border-box;
    width: 100%;
    background-color: #f8f9fa;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 12px 12px;
}

.title-row .boardtitle {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 25px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.title-row span {
    font-size: 20px;
    display: inline-block;
}

.boardInfo-row {
    padding: 5px 12px;
    border-bottom: 1px solid #dee2e6;
}

.boardInfo-row .boardInfo {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 100%;

}

.boardCtnt-row {
    padding: 24px 10px;
}

.boardCtnt-row .boardCtnt {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    height: 100%;
    width: 100%
}

.boardInfo-row .memberInfo .writerInfo, .boardInfo-row .boardInfo span {
    display: inline-block;
}

.boardInfo-row .memberInfo .writerInfo {
    float: left;
}

.boardInfo-row .boardInfo .infoHead, .boardInfo-row .boardInfo .infoBody {
    float: right;
}

.boardInfo-row .boardInfo .infoHead {
    padding: 0 3px 0 0;
}

#repFrm {
    margin-bottom: 30px;
}

#repFrm div {
    margin-bottom: 6px;
}

.repIdPwContainer {
    width: 100%;
}

.repIdPwContainer #repnm {
    display: inline-block;
    width: 20%;
    min-width: 90px;
    font-size: 14px;
}

.repIdPwContainer #reppw {
    display: inline-block;
    width: 20%;
    min-width: 90px;
    font-size: 14px;
}

.repFrmContainer #repFrm #repctnt {
    font-size: 14px;
}

.repFrmContainer .repBtn {
    text-align: right;
}

.repFrmContainer #repFrm #insBtn {
    font-size: 14px;
}

.boardRec-row {
    display: flex;
    justify-content: center;
}

.boardRec-row .btn {
    font-size: 14px;
}

#downRecBtn {
    margin-left: 5px;
}

.viewContainer { width: 100% }

.viewContainer .ReplyDelUpdContainer a {
    text-decoration: none;
    color: black;
}

.ReplyDelUpdContainer {
    text-align: right;
    margin: 30px 0;
}

.ReplyDelUpdContainer .btn {
    font-size: 14px;
}

.viewContainer .repFrmContainer {
    margin-top: 15px;
}

#replyList ul {
    padding: 0;
    font-size: 14px;
}

#replyList .repConOnBott {
    list-style: none;
    border-bottom: 1px solid #dee2e6;
    padding: 4px
}

.repConOnBott .rep-box {
    display: grid;
    grid-template-columns: 1.5fr 6fr 1.5fr 1fr;
    grid-gap: 5px;
    padding: 3px;
}

.repConOnBott .child2 {
    word-break: break-all;
    margin-right: 10px;
}

.repConOnBott .child3 {
    font-size: 12px;
    text-align: center;
}

.reReplyFrm {
    display: grid;
    grid-template-columns: 1.5fr 7.5fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
}

.reReplyFrm .re-rep-box1 input {
    min-width: 85px;
}

.reReplyFrm .re-rep-box2 textarea {
    height: 100%;
    width: 100%;
}

.re-reply-item {
    background-color: #e7e7e7;
    margin-left: 15px;
}

.re-reply-item div {
    padding-top: 3px;
}