<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.alsamo.board.BoardMapper">
    <insert id="insBoard">
        INSERT INTO t_board
            (bno, bcd, uno, btitle, bctnt, bidx, bpw)
        VALUES ( (SELECT NEXTVAL(iboard_seq))
               , #{bcd}
               , #{uno}
               , #{btitle}
               , #{bctnt}
               , (SELECT LASTVAL(iboard_seq))
               , #{bpw})
    </insert>
    <insert id="insReBoard">
        INSERT INTO t_board
            (bno, bcd, uno, btitle, bctnt, bidx, bord, bdept, bpw)
        VALUES ( (SELECT NEXTVAL(iboard_seq))
               , #{bcd}
               , #{uno}
               , #{btitle}
               , #{bctnt}
               , #{bidx}
               , #{bord} + 1
               , #{bdept} + 1
             , #{bpw} )
    </insert>

    <!--    게시판 카테고리 SELECT -->
    <select id="selBoardCategory" resultType="BoardDTO">
        SELECT bcd, bnm
        FROM t_board_category
    </select>

    <!--    게시판 리스트 SELECT -->
    <select id="selBoardList" resultType="BoardDomain">
        SELECT A.bno, A.uno, A.bcd, A.btitle, A.bctnt, A.bidx, A.bord
        , A.bdept, A.brdt, A.bhit
        , B.unm as writer
        , (SELECT COUNT(C.bno)
        FROM t_board_recommendation AS C
        WHERE C.bno = A.bno AND rec = 1) AS rec
        FROM t_board as A
        LEFT JOIN t_user as B
        ON A.uno = B.uno
        where A.bdel = 0
        <if test="bcd > 2">AND A.bcd = #{bcd}</if>
        <if test="searchType != 0">
            <if test="searchType == 1">
                AND (A.btitle like CONCAT('%',#{searchText},'%')
                OR A.bctnt like CONCAT('%',#{searchText},'%'))
            </if>
            <if test="searchType == 2">
                AND A.btitle like CONCAT('%',#{searchText},'%')
            </if>
            <if test="searchType == 3">
                AND A.bctnt like CONCAT('%',#{searchText},'%')
            </if>
            <if test="searchType == 4">
                AND B.unm like CONCAT('%',#{searchText},'%')
            </if>
        </if>
        ORDER BY A.bidx desc, A.bord asc
        LIMIT #{startIdx}, #{cntPerPage}
    </select>

    <!--    메인 게시판 리스트-->
    <select id="selMainBoardList" resultType="BoardDomain">
        select A.btitle, A.brdt, A.bcd, B.bnm
        , (SELECT COUNT(B.bno)
        FROM t_board_recommendation as B
        WHERE B.bno = A.bno AND B.rec = 1) as rec
        FROM t_board AS A
        LEFT JOIN t_board_category AS B
        ON B.bcd = A.bcd
        WHERE A.bdel = 0
        <if test="bcd > 1">AND A.bcd = #{bcd}</if>
        ORDER BY A.bidx desc, A.bord asc
    </select>

    <!--    게시글 SELECT -->
    <select id="selBoard" resultType="BoardDomain">
        SELECT A.bno
             , A.uno
             , A.bcd
             , A.btitle
             , A.bctnt
             , A.bidx
             , A.bord
             , A.bdept
             , A.brdt
             , A.bhit
             , A.bpw
             , B.unm as writer
        FROM t_board as A
                 LEFT JOIN t_user as B
                           ON A.uno = B.uno
        WHERE A.bno = #{bno}
          AND bdel = 0
    </select>
    <!--    총 게시물 수 가져오기-->
    <select id="selBoardCount" resultType="Integer">
        select count(*)
        FROM t_board as A
        WHERE A.bdel = 0
        <if test="bcd > 1">AND bcd = #{bcd}</if>
        <if test="searchType != null">
            <if test="searchType == 1">
                AND A.btitle like CONCAT('%',#{searchText},'%')
                OR A.bctnt like CONCAT('%',#{searchText},'%')
            </if>
            <if test="searchType == 2">
                AND A.btitle like CONCAT('%',#{searchText},'%')
            </if>
            <if test="searchType == 3">
                AND A.bctnt like CONCAT('%',#{searchText},'%')
            </if>
            <if test="searchType == 4">
                AND B.uno like CONCAT('%',#{searchText},'%')
            </if>
        </if>
    </select>
    <!--    답글 순서 정렬-->
    <update id="updReBoard">
        UPDATE t_board
        SET bord = bord + 1
        WHERE bidx = #{bidx}
          AND bord > #{bord}
    </update>
    <!--    게시글 조회수 업데이트-->
    <update id="updBoardHit">
        UPDATE t_board
        SET bhit = bhit + 1
        where bno = #{bno}
    </update>
    <!--    게시글 수정-->
    <update id="updBoard">
        UPDATE t_board
        SET btitle = #{btitle},
        bctnt = #{bctnt}
        WHERE bno = #{bno}
        AND
        (
        <if test="uno != 0">uno = #{uno} OR</if>
        bpw = #{bpw})
    </update>
    <!--    게시글 삭제-->
    <update id="delBoard">

        UPDATE t_board
        SET bdel = 1
        WHERE bno = #{bno}
        AND (
        <if test="uno != 0">uno = #{uno} OR</if>
        bpw = #{bpw}
        <![CDATA[
            OR ((SELECT authno FROM t_user WHERE uno = #{uno}) < 3))
        ]]>
    </update>
</mapper>