<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.alsamo.user.UserMapper">
    <insert id="insUser">
        insert into t_user
            (uid, upw, unm, uemail, authkey)
        values (#{uid}, #{upw}, #{unm}, #{uemail}, #{authkey})
    </insert>

    <select id="selId" resultType="UserEntity">
        select uid
        from t_user
        where uemail = #{uemail}
          and uid = #{uid}
    </select>
    <select id="checkSocialUserExsist" resultType="UserEntity">
        select uid
        from t_googleuser
        where uid = #{uid}
    </select>

    <select id="chckAuthkey" resultType="UserEntity">
        select *
        from t_user
        where uemail = #{uemail}
          and authkey = #{authkey};
    </select>

    <update id="upAuth_no">
        update t_user
        set authno = 3
        where authkey = #{authkey}
          and uemail = #{uemail}
    </update>
    <update id="updUser">
        update t_user
        set upw = #{upw}
        where uemail = #{uemail} or uid=#{uid}
    </update>

    <select id="selUser" resultType="UserEntity">
        select *
        from t_user
        where uid = #{uid}
    </select>
    <update id="updMark">
        update t_user
        set profileImg=#{profileImg}
        where authno = #{authno}
    </update>
    <select id="selNowMark" resultType="String">
        select profileImg
        from t_user
        where authno = #{authno}
    </select>
    <update id="modUser">
        UPDATE t_user set upw = #{upw} where uid=#{uid}
    </update>
</mapper>